header {padding: 10px 20px; background: #666; color: white;}
h1 {color: white;}
body {background-color: black;}
section {color: white;}
footer {padding: 10px 20px; background: #666; color: white;}